.footer{
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
    margin: 0 60px;
    border-top:  1px solid #AFC5DF;
    @media only screen and (max-width: 767px){
        flex-direction: column;
        > div{
            max-width: 170px;
            margin: 0 auto;
            padding-top: 15px;
            text-align: center; 
            line-height: 25px;
        }
    }
}