body {
    background-color: #fff;
    font: 400 16px/1 $fmain;
  }

  a {
    background-color: transparent;
    text-decoration: none;
    color: $btnColor;
  }
  p{
    font: 400 1.125rem/1.5 $fmain;
    color: $textColor;
  }

  img{
    width: 100%;
    height: auto;
    object-fit: contain;
  }

.container{
    max-width: 1355px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 767px){
      flex-direction: column;
    }
  }
  .mob-title{
    display: none;
    text-align: center;
    @media only screen and (max-width: 767px){
      display: block;
    }
  }


.btn{
  &:hover{
    cursor: pointer;
  }
  &-arrow{
    font: 400 2.25rem/1.33 $fmain;
    color:$btnColor;
    position: relative;
    display: flex;
    padding-right: 180px;
    &:after{
      position: absolute;
      display: block;
      width: 166px;
      height: 30px;
      right: 0;
      content: url('../img/arrow.svg');
    }
    
  }
  &-menu{
    width: 32px;
    height: 32px;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
    top:30px;
    right: 54px;
    span{ 
        display: block;
        width: 20px;
        height: 2px;
        background-color: #fff;
        position: relative;
        &:after, 
        &:before{
            position: absolute;
            content: '';
            width: 20px;
            height: 2px;
            background-color: #fff;
        }
        &:after{
          top: -5px;
        }
        &:before{
          bottom: -5px;
          right: 0;
          width: 15px;
        }
    }
    &.opened{
      span{
        background: transparent;
        &:after{
          transform: rotate(45deg);
          background: $textColor;
          top: 0;
        }
        &:before{
          bottom: 0;
          background: $textColor;
          width: 20px;
          transform: rotate(-45deg);
        }
      }
    }
  }
  @media only screen and (max-width: 991px){
    &-menu{
      display: flex;
    }
  }
  @media only screen and (max-width: 767px){
    &-arrow{
      font-size: 1.125rem;
      &:after{
        content: url('../img/sm-arrow.svg');
      }
    }
  }
}

