
section{
    position: relative;
    &:not(.banner-section){
        margin: 90px 0;
    }
    display: flex;
    & > div:first-child{
        width: 20%;
    }
    & > div:last-child{
        width: 80%;
        padding: 60px 0;
    }

    .section-title{
        padding: 0 20px 0 60px;
        &:before{
            position: absolute;
            content: '';
            width: 80%;
            height: 1px;
            background-color: $btnColor;
            right: 0;
            top: 0;
        }
        
        h3{
            position: absolute;
            top: -30px;
            font: 400 2.25rem/1.33 $fmain;
            color: $secondaryColor;
        }
        p{
            padding-top: 60px;
        }
        @media only screen and (max-width: 991px){
            padding-left: 0;
            &:before{
                width: 64%;
            }
        }
    }

    @media only screen and (max-width: 991px){
        flex-direction: column;
        &:not(.banner-section){
            padding: 0 55px;
        }
        
        & > div:first-child,
        & > div:last-child{
            width: 100%;
        }
    }
    @media only screen and (max-width: 767px){
        .section-title{
            position: relative;
            h3{
                position: static;
                text-align: center;
                padding-top: 30px;
            }
            &:before{
                width: 100%;
                left: 0;
            }
        }
    }
    
}

.banner-section{
    height: 100vh;
}

.menu-wrap{
    padding: 40px 60px;

    .main-navigation{
        &__item{
            font: 400 1.875rem/1.5 $fmain;
            color: $btnColor;
            &:hover{
                a{
                    border-bottom: 2px solid $btnColor;
                }
                
            }
        }
    }
    
    @media only screen and (max-width: 991px){
        position: absolute;
        display: none;
        background: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(30px);
        width: 100%;
        &.active{
            display: block;
        }
    }
    @media only screen and (max-width: 767px){

    }
}

.main-banner{  
    height: 100%;
    background: url('./../img/main-banner.jpg') bottom center no-repeat;
    background-size: cover;

    &__title{
        position: absolute;
        font: 400 11vw/1.2 $fsecondaty;
        color: $secondaryColor;
        left: 5%;
        bottom: 5%;
    }
    &__subtitle,
    &__description{
        color: #fff;
        position: absolute;
        font: 400 1.125rem/1.2 $fmain;
    }
    &__description{
        left: 23%;
        bottom: 4%;
        max-width: 350px;
    }
    &__subtitle{
        right: 13%;
        bottom: 45%;
    }
    @media only screen and (max-width: 991px){
        &__title{
            font-size: 4.875rem;
            bottom: 14%;
        }
        &__description{
            left: inherit;
            bottom: 8%;
            right: 2%;
        }
        &__subtitle{
            display: none;
        }

    }
    @media only screen and (max-width: 767px){
        &__title{
            font-size: 38px;
        }
    }
}

.biography{
    padding-top: 0;
    &__item{
        align-self: start;
        width: 50%;
        &:first-child{
            padding-right: 40px;
        }
        &:last-child{
            padding-left: 40px;
        }
        .btn{
            margin-top: 25px;
        }
    }
    @media only screen and (max-width: 991px){
        margin-bottom: 25px;
        .btn{
            position: absolute;
            bottom: 0;
            left: 50px;
        }
    }
    @media only screen and (max-width: 767px){
        &__item{
            width: 100%;
        }
    }
}

// opinions section 

.opinions{
    flex-wrap: wrap;
    &__item{
        max-width: 320px;
    }
    &__date{
        font: 400 1.125rem/1.5 $fmain;
        color: #CFCFCF;
        margin-bottom: 85px;
    }
    &__content{
        display: block;
        margin: 50px 0;
        padding: 10px;
        background-color: white;
        position: relative;
        &:before{
           content: '';
           display: block;
           position: absolute; 
           top: 28px;
           left: -28px;
           width: 200px;
           height: 2px;
           z-index: -1;
           transform: rotate( 45deg);
           background-color: $primaryColor;

        }
        &:after{
            position: absolute;
            display: block;
            width: 166px;
            height: 30px;
            bottom: -43px;
            left: 142px;
            content: url('../img/arrow.svg');
        }
    }
}

// initiative section
.initiative{
    &__item{
        width: 13%;
        padding: 0 14px;
        &.active{
            width: 60%;
            .initiative__content{
                width: 65%;
                display: block;
            }
            .initiative__img{
                width: 35%;
            }
        }  
        &:hover{
            cursor: pointer;
        }
    }
    &__content{
        display: none;
        width: 50%;
        align-self: start;
        padding: 0 20px;
    }
    &__img{
        position: relative;
        height: 540px;
        width: 100%;
        img{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            height: 100%;
            object-fit: cover;
        }
    }
    &__title{
        font: 400 1.5rem/1.33 $fmain;
        color: $titleColor;
        margin-bottom: 20px;
    }
    @media only screen and (max-width: 991px){
        &__title{
            font-size:1.125rem;
        }
    }
    @media only screen and (max-width: 991px){ 
    }
}
