// colors


$primaryColor:    #FFAC64;
$secondaryColor:  rgba(39, 78, 123, 0.7);
$textColor:       #8E8E8E;
$titleColor:      #575757;
$btnColor:        #AFC5DF;
$dateColor:       #CFCFCF;


// fonts

$fmain:           'dinPro', sans-serif;
$fsecondaty:      'romul', sans-serif;